.ky2rectangle{
    position: absolute;
    display: flex;
    height: 80vh;
    width: 75vw;
    top: 15vh;
    left: 21vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
}
.kyc2{
    
        position:absolute;
        height: 10vh;
        width: 5vw;
        top: 55vh;
        left: 29vw;
    
}
.k0{
    position: absolute;
    top: 15vh;
    left: 10vw;
    width: 20vw;
    font-size: 3vh;
}
.k1{
    position: absolute;
    width: 20vw;
    height: 10vh;
    left: 10vw;
    top: 30vh;
    font-size: 3vh;
}
.k2{
    position: absolute;
    width: 20vw;
    height: 10vh;
    left: 10vw;
    top: 45vh;
    font-size: 3vh;
}
.up{
    position: absolute;
    left: 30vw;
    top: -1vh;
}