
fieldset{
  border: none !important;
  outline: none !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 11.5px 14px !important;
}

.ky1rectangle {
    position: relative;
    display: flex;
    height: 110vh;
    border-radius: 1.1vh;
    width: 75vw;
    top: 12vh;
    left: 21vw;
    background: linear-gradient(
      180deg,
      rgba(227, 218, 246, 0.6) 0%,
      rgba(227, 218, 246, 0.6) 100%
    );
  }
  
  .kyc1 {
    position: absolute;
    height: 6vh;
    width: 4vw;
    top: 76vh;
    left: 25vw;
  }
  .gender-input {
    position: absolute;
    height: 15vh;
    top: 12vh;
    font-size: 28px;
    font-weight: 350;
    left: 10vw;
  }
  .i {
    position: absolute;
    margin-top: 0rem;
    width: 35vh;
    left: 30vw;
    border: none;
    border-radius: 1.1vh;
  }
  .ktext2 {
    position: absolute;
    height: 5vh;
    top: 22vh;
    font-size: 28px;
    font-weight: 350;
    left: 10vw;
  }
  
  .ktext3 {
    position: absolute;
    height: 5vh;
    top: 32vh;
    font-size: 28px;
    font-weight: 350;
    left: 10vw;
  }
  
  .date-picker {
    position: absolute;
    top: 0vh;
    left: 30vw;
    
    font-weight: 350;
    border: none;
    border-radius: 1.1vh;
    background-color: white;
  }
  
  .ktext4 {
    position: absolute;
    font-weight: 350;
    font-size: 28px;
  
    top: 42vh;
    left: 10vw;
  }
  
  .select-country {
    position: absolute;
    top: 0%;
    width: 35vh;
  }
  .select-gender {
    position: absolute;
    top: 0%;
    width: 35vh;
  }
  .address-label{
      top: 0%;
  }
  
  .ktext5 {
    position: absolute;
    height: 5vh;
    top: 52vh;
    font-size: 28px;
    font-weight: 350;
    left: 10vw;
  }
  .captcha {
    position: absolute;
    top: 63vh;
    left: 25vw;
  }
  .label {
    position: absolute;
    top: 85vh;
    left: 10vw;
    width: 30vh;
    z-index: 1;
  }
  .kybtn {
    position: absolute;
    height: 5vh;
    width: 10vh;
    top: 95vh;
    left: 60vw;
    background-color: rgba(91, 15, 255, 0.66);
    color: white;
    border: none;
    font-size: 2vh;
    border-radius: 1.1vh;
    z-index: 2;
  }
  .btn{
    top: 95vh;
  }
@media only screen and (max-width:1000px){
  .ky1rectangle{
    height: 105vh;
  }
  .i{
    left: 30vw;

  }
  .date-picker{
    left: 30vw;
  }
  .gender-input{
    font-size: 3vh;
  }
  .ktext2{
    font-size: 3vh;
  }
  .ktext3{
    font-size: 3vh;
  }
  .ktext4{
    font-size: 3vh;
  }
  .ktext5{
    font-size: 3vh;
  }
  .kybtn{
    left:60vw;
    top: 95vh;
  }
  .btn{
    top:95vh;
  }
  .label{
    top: 85vh;
    width: 25%;
  }
  .kyc1{
    top:77vh;
    left: 34vw;
  }

}
@media only screen and (max-width:770px){
  .ky1rectangle{
    left: 5vw;
    width: 90vw;
  }
  .i{
    
    left: 35vw;

  }
  .date-picker{
    left: 35vw;
    
  }
  .gender-input{
    left: 10vw;
    font-size: 3vh;
  }
  .ktext2{
    left: 10vw;
    font-size: 3vh;
  }
  .ktext3{
    left: 10vw;
    font-size: 3vh;
  }
  .ktext4{
    left: 10vw;
    font-size: 3vh;
  }
  .ktext5{
    left: 10vw;
    font-size: 3vh;
  }
  .btn{
    top: 95vh;
  }
  .kybtn{
    top:95vh;
  }
  .label{
    top:85vh;
    width: 25%;
  }
  .kyc1{
    top:78vh;
    left: 37vw;
    width: 7vw;
}
}
@media only screen and (max-width:600px){
  .ky1rectangle{
    left: 5vw;
    width: 90vw;
  }
  .i{
    top: -1vh;
    left: 34vw;

  }
  .date-picker{
    top: -1vh;
    left: 34vw;
    
  }
  .gender-input{
    left: 3vw;
    font-size: 100%;
  }
  .ktext2{
    left: 3vw;
    font-size: 100%;
  }
  .ktext3{
    left: 3vw;
    font-size: 100%;
  }
  .ktext4{
    left: 3vw;
    font-size: 100%;
  }
  .ktext5{
    left: 3vw;
    font-size: 100%;
  }
.label{
  top:85vh;
  left: 6vw;
  width: 30%;
}
.kybtn{
  top:95vh;
}
.btn{
  top: 95vh;
}
.kyc1{
  top:78vh;
  width: 8vw;
  left: 32vw;

}
}