.sdbox1{
    position: absolute;
    height: 50vh;
    width: 60vw;
    top: 16vh;
    left: 28vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
}
.sdbox2{
    position: absolute;
    text-align: left;
    font-size: 3vh;
    height: 30vh;
    width: 55vw;
    top: 68vh;
    left: 30.5vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
}

.sdchart{
    position: absolute;
    top: 7vh;
    left: 25vw;
    z-index: 1;

}
.sdlist{
    position: relative;
    left: 5vw;
    font-size: 3.5vh;
}
.space2{
    position: absolute;
    left: 30vw;
    
}
.btngrp{
    position: absolute;
    top: 8.9vh;
    left: 18vw;border-radius: none;
    color: #0A194E;
}