.sdbox1{
    position: absolute;
    height: 50vh;
    width: 60vw;
    top: 18vh;
    left: 28vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
}
.sdbox2{
    position: absolute;
    text-align: left;
    font-size: 3vh;
    height: 28vh;
    width: 55vw;
    top: 70vh;
    left: 30.5vw;
    overflow: hidden;
    overflow-y: scroll;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
}

.sdchart{
    position: absolute;
    top:10vh;
    left: 8vw;
    z-index: 1;
    background-color: white;

}
.sdlist{
    position: relative;
    left: 5vw;
    font-size: 3.5vh;
}
.space2{
    position: absolute;
    left: 30vw;
    
}
.btngrp{
    position: absolute;
    top: 8.9vh;
    left: 18vw;
    border-radius: none;
    padding: 2vh;
}
.sites{
    position: absolute;
    top: 9vh;
    left: 18vw;
    width: 82vw;
   
    display: flex;
    flex-direction: row;
    
    
}
.crypto,.gender,.agegroup,.sports,.finance,.socialmedia{
    height: 5vh;
    width: 14vw;
    padding-top: 1vh;
    font-size: 3vh;
    background-color: #0A194E;
   color: white;
}
.cryptoactive,.genderactive,.agegroupactive,.sportsactive,.financeactive,.socialmediaactive{
    height: 5vh;
    top: 10px;
    width: 14vw;
    color: #000;
    padding-top: 1vh;
    font-size: 3vh;
    background-color: white;
  
}
.gap{
    padding: 2vh;
    display: flex;
    padding-left: 10vw;
    column-gap: 20vw;
}
.gap1{
    position: absolute;
    right: 10vw;
}
.topic{
    position: absolute;
    font-size: 4vh;
    padding: 2vh;
    padding-left: 2vw;
    font-weight: 600;
}