.sdbox1{
    position: absolute;
    min-height: 55vh;
    width: 74vw;
    top: 18vh;
    left: 21vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
    border-radius: 10px;
}
.sdbox2{
    position: absolute;
    text-align: left;
    font-size: 3vh;
    height: 23vh;
    width: 70vw;
    top: 75vh;
    border-radius: 10px;
    left: 23vw;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
}
.sdbox2::-webkit-scrollbar{
    border-radius: 2vh;
    right: 1px;
}
.sdbox2::-webkit-scrollbar-track{
    border-radius: 2vh;
    margin-block:1vh;
    margin-right: 10px;
}
.sdbox2::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 2vh;
    border: .25em solid #E3DAF6;
}
.sdchart{
    position: absolute;
    width: 60vw;
    top:7vh;
    left: 7vw;
    z-index: 1;
    background-color: #ffffff;

}
.sdlist{
    position: relative;
    left: 5vw;
    font-size: 3.5vh;
}
.space2{
    position: absolute;
    left: 30vw;
    
}
.btngrp{
    position: absolute;
    top: 8.9vh;
    left: 18vw;
    border-radius: none;
    padding: 2vh;
}
.sites{
    position: absolute;
    top: 9vh;
    left: 16vw;
    min-width:84vw;
    display: flex;
    
    
    
}
.crypto{
    height: 5vh;
    width: 14vw;
    padding-top: 2vh;
    font-size: 130%;
    text-align: center;
   
    background-color: #0A194E;
   color: white;
   border-left: 1px white solid;
}
.cryptoactive{
    height: 5vh;
    width: 14vw;
    padding-top: 2vh;
    color: #000;
    font-size: 130%;
    background-color: white;
  
}
.gap{
    padding: 2vh;
    display: flex;
    font-size: 80%;
    padding-left: 10vw;
    column-gap: 2vw;
}
.gap1{
    position: absolute;
    right: 10vw;
    font-size: 100%;
}
.topic{
    position: absolute;
    font-size: 5vh;
    padding: 1vh;
    padding-left: 2vw;
    font-weight: 600;
}
@media only screen and (max-width:1200px) {
    .sdchart{
        left: 5vw;
        width: 64vw;
        height: 45vh;
        
    }
}
@media only screen and (max-width:1100px) {
    .sdbox1{
        left: 18vw;
        width: 80vw;
    }
    .sdchart{
        left: 4vw;
        width: 72vw;
        height: 45vh;
        
    }

}

@media only screen and (max-width:1000px) {
    .sdchart{
        left: -10vw;
        width: 66vw;
        height: 45vh;
        background-color: transparent;
    }
    .sites{
        left: 20vw;
        width: 80vw;
    }
    .sdbox1{
        left: 23vw;
        width: 74vw;
    }
    .sdbox2{
        left: 25vw;
    }
    
}@media only screen and (max-width:770px) {
    .sites{
        left: 0vw;
        min-width: 100vw;
        font-size:60% ;
    }
    .tsbox1{
        height: 40vh;
        left: 4vw;
        width: 92vw; 
    }
    .sdbox1{
        left: 4vw;
        width: 92vw;
    }
    .sdchart{
        left: 0vw;
    }
    .crypto{
        width: 17vw;
    }
    .cryptoactive{
        width: 17vw;
    }
    .sdbox2{
        left: 15vw;
        width: 70vw;
    }
    .legendcolor{
        position: relative;
        left: 0vh;
        top:1vh;
        height: 10px;
        width:10px;
        border: 1px solid black;
    }
    
}
@media only screen and (max-width:670px) {
    .sdchart{
        left: -9vw;
        
    }
}
@media only screen and (max-width:570px) {
    .sdchart{
        left: -14vw;
        
    }
}
@media only screen and (max-width:500px) {
    .sdchart{
        left: -22vw;
        
    }
}
