body{
    display: flexbox;
}
.dflogo{
    position: absolute;
    height: 6vh;
    width:54.04px;
    top: 6vh;
    left: 4vw;
    z-index: 1;
}

.ltext1{
    position: absolute;
    height: 6vh;
    width: 109.6px;
    top: 6vh;
    left: 7vw;
    z-index: 1;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    white-space: nowrap;
}
.ltext2{
    position: absolute;
    height: 6vh;
    width:96px;
    top: 7vh;
    left: 7vw;
    z-index: 1;
    font-weight: 400;
    font-size: 35px;
}
.rewtitle{
    position:absolute;
    top:10vh;
    left:20vw;
    font-style: normal;
    font-weight: 500;
    color: #1C1F37;
    display: flex;
    font-size: 40px;
}

.rewcont{
    position: absolute;
    height: 81%;
    width: 70%;
    left: 23vw;
    top: 17vh;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;   
}

.rewhead{
    position: absolute;
    padding: 3vh;
    left: 25vw;
    font-size:3vh;
    font-weight:520;
    top:-3vh;
}

.linechart{
    position:absolute;
    display: flex;
    top:14vh;
    height:10vh;
    left:0vw;
    width:10vw;
}

.rerect{
    position: absolute;
    height: 22vh;
    width: 64vw;
    top:56vh;
    left:3vw;
    background:#FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.rewtabs{
    position: relative;
    height:5%;
    top:9vh;
    left:26vw;
    justify-content: center;
    background-color: white;
    color: #000000;
}

.redbox{
    position: absolute;
    text-align: left;
    font-size: 3vh;
    height: 20vh;
    border-radius: 8px;
    width: 60vw;
    top: 57vh;
    left: 5vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
    overflow-y: scroll;
    z-index: 3;
}
.redbox::-webkit-scrollbar{
    border-radius: 2vh;
    right: 1px;
}
.redbox::-webkit-scrollbar-track{
    border-radius: 2vh;
    margin-block:1vh;
}
.redbox::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 2vh;
    border: 5px solid #E3DAF6;
} 

.rgap{
    padding: 1vh;
    display: flex;
    padding-left: 10vw;
    column-gap: 2vw;
}

.rgap1{
    position: absolute;
    right: 10vw;
}