

.srect1{
    position: absolute;
left: 22vw;
right: 41.6vw;
top: 11.7vh;
width:73vw;
height: 85vh;
background: #DDE2EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.stext1{
    position: absolute;
width: 20vw;
height: 5.4vh;
left: 32.7vw;
top: 18vh;
z-index: 1;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 3vh;
display: flex;
align-items: center;
text-align: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.stext2{
    position: absolute;
width: 20vw;
height: 5.6vh;
left: 31.5vw;
top: 30vh;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 3vh;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.stext3{
    position: absolute;
width: 20vw;
height: 4vh;
left: 35.7vw;
top: 42vh;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 3vh;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.stext4{
    position: absolute;
width: 25vw;
height: 4vh;
left: 36vw;
top: 54vh;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 3vh;
display: flex;
align-items: center;
text-align: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.stext5{
    position: absolute;
width: 25vw;
height: 4vh;
left: 33vw;
top: 66vh;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 3vh;
display: flex;
align-items: center;
text-align: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.stext6{
    position: absolute;
width: 25vw;
height: 4vh;
left: 33vw;
top: 78vh;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 3vh;
display: flex;
align-items: center;
text-align: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.stext7{
    position: absolute;
width: 25vw;
height: 4vh;
left: 34vw;
top: 90vh;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 3vh;
display: flex;
align-items: center;
text-align: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.sinput1{
    position: absolute;
width: 34.7vw;
height: 6vh;
left: 45.8vw;
top: 17.5vh;
border: none;
font-style: normal;
font-size: 4vh;
z-index: 1;
background: #FFFFFF;
border-radius: 1vh;

}
.sinput2{
    position: absolute;
    width: 34.7vw;
    height: 6vh;
    left: 45.8vw;
top: 30vh;
border:none;
font-style: normal;
font-size: 26px;

background: #FFFFFF;
border-radius: 1vh;

}
.sbtn1{
position: absolute;
top: 41vh;
left: 46vw;
z-index: 1;
}
.sbtn2{
    position: absolute;
    top: 53vh;
    left: 46vw;
    z-index: 1;
    }
.sbtn3{
    
position: absolute;
left: 46vw;
top: 65vh;

}
.sbtn4{
    position: absolute;
    
    left: 46vw;

    top: 77vh;
    
}
.sbtn5{
    position: absolute;
left: 46vw;
top: 89vh;

}