.tsbox1{
    position: absolute;
    height: 50vh;
    width: 60vw;
    top: 18vh;
    left: 28vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
}
.tsbox2{
    position: absolute;
    text-align: left;
    font-size: 3vh;
    height: 28vh;
    width: 55vw;
    top: 70vh;
    left: 30.5vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
}

.tschart{
    position: absolute;
    top:1vh;
    left: 8vw;
    z-index: 1;
    background-color: white;

}
.list{
    position: relative;
    left: 5vw;
    font-size: 3.5vh;
}
.space{
    position: absolute;
   left: 30vw;
}
.top1{
    position: absolute;
    top: 9vh;
    left: 18vw;
    width: 82vw;
    height: 7vh;
    background-color:#0A194E ;
}
.tab1{
    position: absolute;
    width: 39vw;
    left:0vw;
    padding: 1vh;
    background-color:#0A194E;
   height: 5vh;
    font-size: 3vh;
    color: white;
    
}
.tab2{
    position: absolute;
    top: 0vh;
    right: 3px;
    width: 39vw;
    padding: 1vh;
    height: 5vh;
    background-color:#0A194E ;
    font-size: 3vh;
    color: white;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
}
.tab1active{
    position: absolute;
    left: 2px;
    bottom: 0px;
    width: 39vw;
    padding: 1vh;
    background-color:white;
    height: 65%;    font-size: 3vh;
    color: black;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    z-index: 1;
}
.tab2active{
    position: absolute;
    bottom: 0px;
    right: 2px;
    width: 39vw;
    padding: 1vh;
    height: 65%;
    background-color:white ;
    font-size: 3vh;
    color: black;
    border-top-left-radius: 1vh;
    z-index: 1;
    border-top-right-radius: 1vh;
}