.ky2rectangle{
    position: absolute;
    display: flex;
    height: 95vh;
    width: 75vw;
    top: 12vh;
    left: 19vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
    border-radius: 1.1vh;
    
}
.logo-step-2{
    
    position:absolute;
    height: 6vh;
    width: 4vw;
    top: 67vh;
    left: 43vw;
}
.k0{
    position: absolute;
    top: 15vh;
    left: 5vw;
    width: 29vw;
    font-size: 3vh;
    line-height: 100%;
}
.k1{
    position: absolute;
    width: 29vw;
    height: 10vh;
    left: 5vw;
    top: 35vh;
    font-size: 3vh;
    line-height: 100%;
}
.k2{
    position: absolute;
    width: 29vw;
    height: 10vh;
    left: 5vw;
    top: 55vh;
    line-height: 100%;
    font-size: 3vh;
}
.up{
    position: absolute;
    left: 42vw;
    top: 0vh;
}
.cbtn{
    position: relative;
    left: 8vw;
}
.Image-warnings{
    position: absolute;
    width: 30vw;
    top: 6vh;
    left: 0vw;
}
.Image-warnings-2{
    position: absolute;
    width: 30vw;
    top: 6vh;
    left: 7vw;
}

.Image-warnings-3{
    position: absolute;
    width: 30vw;
    top: 6vh;
    left: 7vw;
}

.backbtn{
    position: absolute;
    height: 5vh;
    width: 10vh;
    top: 85vh;
    left: 0vw;
    background-color: rgba(91, 15, 255, 0.66);
    color: white;
    border: none;
    font-size: 2vh;
    border-radius: 1.1vh;
    z-index: 2;
}

.nextbtn {
    position: absolute;
    height: 5vh;
    width: 10vh;
    top: 85vh;
    left: 60vw;
    background-color: rgba(91, 15, 255, 0.66);
    color: white;
    border: none;
    font-size: 2vh;
    border-radius: 1.1vh;
    z-index: 2;
  }

.stepper-3{
    position: absolute;
    top: 75vh;
    left: 10vw;
    width: 25%;
    z-index: 1;
}
@media only screen and (max-width:1000px){
    .ky2rectangle{
        left: 22vw;
    }
    .stepper-3{
        width: 25%;
        left:10vw;
    }
    .logo-step-2{
        left: 44vw;
    }
}
@media only screen and (max-width:770px){
    .ky2rectangle{
        width: 90vw;
        left: 5vw;
        height: 130vh;
    }
    .nextbtn{
        top: 115vh;

    }
    .backbtn{
        left: -5vw;
        top: 115vh;
    }
    .k1{
        top: 40vh;
    }
    .k2{
        top: 70vh;
    }
    .stepper-3{
        top: 100vh;
    }
    .logo-step-2{
        top: 93vh;
        left: 50vw;
    }
    .up{
        left: 50vw;
    }
}