.connectwallet {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cwtitle {
    font-size: 7vh;
    font-weight: 600;
    color: #000;
}

.cwlogin {
    font-size: 6vh;
    font-weight: 500;
    color: #000;
}