.wr1{
    position: absolute;
left: 20.8vw;

top: 14.6vh;
bottom: 6.25vh;
height:79vh;
width:77vw;
background: #DDE2EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wr2{
    position: absolute;
width: 31.4vw;
height: 23vh;
left: 23.6vw;
top: 17.5vh;
z-index: 1;
background: #FFFFFF;
border-radius: 15px;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wr3{
    position: absolute;
width: 31.4vw;
height: 44vh;
left: 23.6vw;
top: 46vh;
z-index: 1;
background: #FFFFFF;
border-radius: 15px;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wr4{
    position: absolute;
width: 37.4vw;
height: 49.7vh;
left: 57.6vw;
top: 17.5vh;
z-index: 1;
background: #FFFFFF;
border-radius: 15px;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wtext8{
    position: absolute;
left: 20vw;
top: 2vh;
font-weight: 700;
font-size: 4vh;

}
.wtext1{
    position: absolute;
width: 14.8vw;
height: 3.5vh;
left: 31vw;
top: 22.4vh;
z-index: 1;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 3vh;
display: flex;
align-items: center;
text-align: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wtext2{
    position: absolute;
width: 12.5vw;
height: 4.1vh;
left: 33vw;
top: 29.5vh;
z-index: 1;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 3vh;
display: flex;
align-items: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wtext3{
    position: absolute;
width: 23.3vw;
height: 7.3vh;
left: 33vw;
top: 50.7vh;
z-index: 1;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 3vh;
display: flex;
align-items: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wtext4{
    position: absolute;
width: 28.4vw;
height: 5.8vh;
left: 65vw;
top: 25.7vh;
z-index: 1;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 3vh;
display: flex;
align-items: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wtext5{
    
position: absolute;
width: 16.5vw;
height: 5vh;
left: 70vw;
top: 34vh;
z-index: 1;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 3vh;
display: flex;
align-items: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wtext6{
    position: absolute;
width: 21.2vw;
height: 5vh;
left: 77.7vw;
top: 34vh;
z-index: 1;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 3vh;
display: flex;
align-items: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wtext7{
    position: absolute;
width: 31.25vw;
height: 11.7vh;
left: 68vw;
top: 48vh;
z-index: 1;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 3vh;
display: flex;
align-items: center;
text-align: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.winput1{
    position: absolute;
width: 24.7vw;
height: 5vh;
left: 26.3vw;
top: 58.5vh;
z-index: 1;
font-style: normal;
font-size: 2.4vh;

border-radius: 1.5vh;
text-align: center;
}
.winput2{
    position: absolute;
    width: 8.3vw;
    height: 5vh;
    left: 70vw;
    top: 39vh;
    z-index: 1;
    font-style: normal;
    font-size: 2.8vh;
    background: #FFFFFF;
    border-radius: 1.5vh;
    text-align: center;
}
.winput4{
    position: absolute;
    width: 20.8vw;
    height: 5vh;
    left: 73vw;
    top: 39vh;
    z-index: 1;
    font-style: normal;
    font-size: 2.4vh;
    background: #FFFFFF;
    border-radius: 1.5vh;
    text-align: center;
}
.winput3{
    position: absolute;
width: 24.7vw;
height: 5vh;
left: 63vw;
top: 58.5vh;
z-index: 1;
font-style: normal;
font-size: 2.4vh;
background: #FFFFFF;
border-radius: 10px;
text-align: center;
}
.wbutton1{
    position: absolute;
    width: 25vw;
    height: 6.8vh;
    left: 27vw;
    top: 78vh;
    z-index: 1;
    font-family: 'IBM Plex Sans Devanagari';
font-style: normal;
font-weight: 500;
font-size: 3vh;
    background: linear-gradient(90deg, rgba(66, 0, 255, 0.4428) 0%, rgba(5, 195, 218, 0.427083) 75.52%, rgba(2, 203, 216, 0.4264) 100%);
    border-radius: 1vh;
    border: none;
}
.wbutton2{
    position: absolute;
width: 25vw;
height: 6.8vh;
left: 64vw;
top: 78vh;
z-index: 1;
font-family: 'IBM Plex Sans Devanagari';
font-style: bold;
font-weight: 500;
font-size: 3vh;
background: linear-gradient(90deg, rgba(66, 0, 255, 0.4428) 0%, rgba(5, 195, 218, 0.427083) 75.52%, rgba(2, 203, 216, 0.4264) 100%);
border-radius: 1vh;
border:none;
}