.tsbox1{
    position: absolute;
    height: 50vh;
    width: 60vw;
    top: 18vh;
    left: 28vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
}
.tsbox2{
    position: absolute;
    text-align: left;
    font-size: 3vh;
    height: 28vh;
    width: 55vw;
    top: 70vh;
    left: 30.5vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
    overflow: hidden;
    overflow-y: scroll;
}

.tschart{
    position: absolute;
    top:4vh;
    left: 6vw;
    z-index: 1;
    background-color: white;

}


.space1{
    position: absolute;
    left: 30vw;
    row-gap: 2vh;
    line-height: 2vh;
}
