.tsbox1{
    position: absolute;
    height: 50vh;
    width: 60vw;
    top: 18vh;
    left: 28vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
}
.tsbox2{
    position: absolute;
    text-align: left;
    font-size: 3vh;
    height: 28vh;
    width: 55vw;
    top: 70vh;
    left: 30.5vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
    overflow: hidden;
    overflow-y: scroll;
}

.tschart{
    position: absolute;
    top: 18vh;
    left: 37vw;
    z-index: 1;
    background-color: white;

}


.space1{
    position: absolute;
    left: 30vw;
    row-gap: 2vh;
    line-height: 2vh;
}
.divider{
   
    left: 0vh;
}

.tabs1{
   position: absolute;
    top: 9vh;
    left: 18vw;
    color: white;
    z-index: 2;
    font-size: 4vh;
    padding: 1vh;
    padding-left: 16vw;
    padding-right: 15vw;
    background-color: #0A194E;
    display: flex;
}
.tabs2{
    position: absolute;
    display: flex;
     top: 9vh;
     right: 0vw;
     color: white;
     z-index: 2;
     font-size: 4vh;
     padding: 1vh;
     padding-left: 16vw;
     padding-right: 15vw;
     background-color: #0A194E;
     
 }
.tabs1active{
    position: absolute;
    top: 9vh;
    left: 18vw;
    color: #000000;
    z-index: 2;
    font-size: 4vh;
    padding: 1vh;
    padding-left: 16vw;
    padding-right: 15vw;
    background-color: white;
    border-top-left-radius: 1.1vh;
    border-top-right-radius: 1.1vh;
    display: flex;
}
.tabs2active{
    position: absolute;
    display: flex;
     top: 9vh;
     right: 0vw;
     color: black;
     z-index: 2;
     font-size: 4vh;
     padding: 1vh;
     padding-left: 16vw;
     padding-right: 15vw;
     border-top-left-radius: 1.1vh;
      border-top-right-radius: 1.1vh;
     background-color: white;
     
 }