.mRectangle{
    position: absolute;
    display: flex;
    height: 46vh;
    width: 60vw;
    top: 12vh;
    left: 28vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) -43.88%, rgba(227, 218, 246, 0.6) 56.12%);
}

.mlinechart{
    position:absolute;
    display: flex;
    top:2vh;
    height:10vh;
    
    left:4vw;
    
}
.mbox1{
    position: absolute;
    top: 60vh;
    height: 38vh;
    width: 23vw;
    left: 30vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) -43.88%, rgba(227, 218, 246, 0.6) 56.12%);

}
.mbox2{
    position: absolute;
    top: 60vh;
    height: 38vh;
    width: 23vw;
    left: 63vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) -43.88%, rgba(227, 218, 246, 0.6) 56.12%);

}