.Container{
    position: absolute;
    background: linear-gradient(180deg, rgba(92, 15, 255, 0.66) 0%, rgba(250, 1, 255, 0.33) 100%);
    left: 0vh;
}
.dframe{
    position: absolute;
    height: 16vh;
    width: 9vw;
    top: 2vh;
    left: 5vw;
    z-index: 1;
}
.dftext{
    position: absolute;
    height: 5vh;
    width: 8vw;
    top: 18vh;
    font-size: 120%;
    left: 5vw;
    font-weight: 700;
    z-index: 1;
    color: #0A194E;
}
.side{
    position: absolute;
    left:0vw;
    font-size: 2vh;
    width: 18vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(92, 15, 255, 0.66) 0%, rgba(250, 1, 255, 0.33) 100%);
}
.item{
    position: absolute;
    width: 18vw;
    top: 24vh;
    color: white;
    background: #0A194E;
    z-index: 5;
    text-align: left;
    text-indent: 3vw;
    font-size: 3vh;
    font-weight: 400;
    
}

.act1{
    position: relative;
    width: 100%;
    left: 1vw;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 5vh;
    font-size: 90%;
    background-color: white;
    color: black;
    font-weight: 500;
    text-align: left;
    text-indent: 2vw;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
}
.act3{
    position: relative;
    width: 16vw;
    left: 2vw;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 5vh;
    font-size: 90%;
    background-color: white;
    color: black;
    font-weight: 500;
    text-align: left;
    text-indent: 2vw;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
}
.notActive{
    position: relative;
    width: 18vw;
    font-size: 90%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 5vh;
    background-color: #0A194E;
    color: white;
    font-weight: 400;
}
.notActive1{
    position: relative;
    width: 18vw;
    left: 2vw;
    margin-top: 0vh;
    height: 5vh;
    
    background-color: #0A194E;
    color: white;
    font-weight: 400;
    text-indent: 1vw;
}
.notActive2{
    position: relative;
    width: 16vw;
    left: 2vw;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 5vh;
    font-size: 90%;
    background-color: #0A194E;
    color: white;
    font-weight: 500;
    text-align: left;
    text-indent: 2vw;
    
}
.act2{
    position: relative;
    width: 100%;
    left: 1vw;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 5vh;
    font-size: 90%;
    background-color: white;
    color: black;
    font-weight: 400;
    text-align: left;
    text-indent: 2vw;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
}

.rect3{
    position: absolute;
width: 14vw;
height: 12vh;
left: 1.6vw;
top: 80vh;
z-index: 1;

color: #FFFFFF;
background: #1B2B65;
border-radius: 8px;
}
.rect1{
    position: absolute;
width: 12vw;
height: 4vh;
top: 7vh;
margin-left: 1vw;
border-left: 2vh;
font-size: 110%;
font-weight: 400;
color: #FFFFFF;
z-index: 2;
background: #017EFA;
border-radius: 6px;
}
.rect4{
    position: absolute;
width: 12vw;
height: 4vh;
top: 7vh;
color: #FFFFFF;

font-size: 3vh;
font-weight: 200;
z-index: 2;
background: #017EFA;
border-radius: 6px;
}
.text6{
    position: inherit;
    top: 3vh;
    font-size: 2vh;
    left: 2vw;
}
.text7{
    position: absolute;
    width: 4vw;
    text-align: center;
    font-weight: 400;
    font-size: 2vh;
    z-index: 2;
    color: #FFFFFF;
}

.text9{
    position: absolute;
    width: 7vw;
    height: 1.5vh;
    left: 5vw;
    top: 94vh;
    z-index: 4;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    text-decoration-line: underline ;
    color: #FFFFFF;
}


.b{
    position: relative;
    left: -1vw;
}

.ic{
    position: relative;
    top: 5px;
    left: -2vh;
    
}
.kc{
    position: relative;
    top: 6px;
    left: 0vh;
    
}
