
.dframe{
    position: relative;
    height: 15vh;
    width: 8vw;
    top: 2vh;
    
    margin: auto;
    z-index: 1;
}
.dftext{
    position: relative;
    height: 5vh;
    width: 8vw;
    top: 3vh;
    font-size: 120%;
   margin: auto;
    font-weight: 700;
    z-index: 1;
    color: #0A194E;
    
}
.side{
    position: absolute;
    left:0vw;
    font-size: 2vh;
    width: 16vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(92, 15, 255, 0.66) 0%, rgba(250, 1, 255, 0.33) 100%);
}
.item{
    position: absolute;
    width: 16vw;
    top: 24vh;
    color: white;
    background: #0A194E;
    z-index: 5;
    text-align: left;
    text-indent: 3vw;
    font-size: 3vh;
    font-weight: 400;
    font-family: 'Alata';
}

.act1{
    position: relative;
    width: 98%;
    left: 1vw;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 5vh;
    font-size: 80%;
    background-color: white;
    color: black;
    font-weight: 600;
    text-align: left;
    text-indent: 2vw;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
}
.act3{
    position: relative;
    width: 13vw;
    left: 3vw;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 5vh;
    font-size: 70%;
    background-color: white;
    color: black;
    font-weight: 500;
    text-align: left;
    text-indent: 2vw;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
}
.notActive{
    position: relative;
    width: 16vw;
    font-size: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 5vh;
    background-color: #0A194E;
    color: white;
    font-weight: 400;
}
.notActive1{
    position: relative;
    width: 14vw;
    left: 2vw;
    margin-top: 0vh;
    height: 5vh;
    font-size: 80%;
    background-color: #0A194E;
    color: white;
    font-weight: 400;
    text-indent: 1vw;
}
.notActive2{
    position: relative;
    width: 13vw;
    left: 3vw;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 5vh;
    font-size: 70%;
    background-color: #0A194E;
    color: white;
    font-weight: 500;
    text-align: left;
    text-indent: 2vw;
    
}
.act2{
    position: relative;
    width: 100%;
    left: 1vw;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 5vh;
    font-size: 80%;
    background-color: white;
    color: black;
    font-weight: 400;
    text-align: left;
    text-indent: 2vw;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
}

.rect3{
    position: absolute;
width: 14vw;
height: 14vh;
left: 1vw;
top: 79vh;
z-index: 1;
color: #FFFFFF;
background: #1B2B65;
border-radius: 8px;
}
.rect1{
position: relative;
top: 5vh;
width: 10vw;
height: 4vh;
border: none;
font-size: 80%;
border-radius: 4px;
color: #FFFFFF;
font-family: 'Gilroy';
background: #017EFA;

}

.text6{
    position: relative;
    top: 4vh;
    font-size: 2vh;
    left: 0vw;
    font-family: 'Alata';
}
.text7{
    position: absolute;
    width: 4vw;
    text-align: center;
    font-weight: 400;
    font-size: 2vh;
    z-index: 2;
    color: #FFFFFF;
}

.text9{
    position: absolute;
    width: 7vw;
    left: 4vw;
    top: 94vh;
    z-index: 4;
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    text-decoration-line: underline ;
    color: #FFFFFF;
}


.b{
    position: relative;
    left: -1vw;
}

.ic{
    position: relative;
    top: 5px;
    left: -2vh;
    
}
.kc{
    position: relative;
    top: 6px;
    left: 0vh;
    
}
.circle1{
    position: absolute;
    top:77vh ;
    left:6.5%;
    z-index: 3;
    height: 6vh;
    width: 3%;
    border-radius: 50%;
    background-color: #AABBFA;
}
.circle2{
    position: absolute;
    top:78vh ;
    left:7%;
    z-index: 3;
    height: 4vh;
    color: #FFFFFF;
    width: 2%;
    border-radius: 50%;
    background-color: #017EFA;
}



@media only screen and (max-width: 1000px) {
    .side{
        width: 20vw;
    }
    .item{
        width:20vw;
    }
    .dframe{
        width:12vw;
    }
    .dftext{
        width:10vw;
        
    }
    .notActive,.notActive1{
        width: 18vw;
    }
    .notActive2{
        width: 15vw;
        left: 3vw;
        text-indent: 1vw;
    }
  }