
.header{
    position: absolute;
width: 84vw;
height: 9vh;
top: 0vh;
z-index: -1;
left: 16vw;
background: linear-gradient(90deg, rgba(92, 15, 255, 0.63) 0%, rgba(177, 133, 253, 0.0567) 100%);}
.head1{
    position: relative;
width:10vw;
top:3vh;

left: 67vw;
font-family: "Atala";
font-size: 110%;
font-weight: 500;
}
.user1{
    position: absolute;
    top:2vh;
    height: 5vh;
    width:5vh;
    right: 16vw;
    border-radius: 50%;

}

.arrow{
    position: absolute;
    right:6vw;
    top: 3vh;
}
@media only screen and (max-width:1000px) {
   .header{
    width: 80vw;
    left: 20vw;
   } 
   .head1{
    
    left: 62vw;
   }
   .arrow{
    left: 73vw;
   }
   .user1{
    left: 58vw;
   }
}
@media only screen and (max-width: 770px) {
    .header{
        width: 74vw;
        left:26vw;
    } 
    .head1{
    
        left: 55vw;
       }
       .arrow{
        left: 70vw;
       }
       .user1{
        left: 48vw;
       }

}