.header{
    position: absolute;
width: 82.7vw;
height: 8.8vh;
top: 0vh;
z-index: -1;
left: 17.3vw;

background: linear-gradient(90deg, rgba(92, 15, 255, 0.63) 0%, rgba(177, 133, 253, 0.0567) 100%);}
.head1{
    position: absolute;
width:10vw;
top:3vh;
right:6vw;
font-size: 2.5vh;
}
.user1{
    position: absolute;
    top:2vh;
    height: 5vh;
    width:5vh;
    right: 15vw;
    border-radius: 50%;

}
.drp{
    position: absolute;
    top:3vh;
    right:8vw;
}
.arrow{
    position: absolute;
    right:6vw;
    top: 3vh;
}