
.header{
    position: absolute;
width: 84vw;
height: 9vh;
top: 0vh;
z-index: 5;
left: 16vw;
background: linear-gradient(90deg, rgba(92, 15, 255, 0.63) 0%, rgba(177, 133, 253, 0.0567) 100%);}
.head1{
    position: absolute;
width:10vw;
top:3vh;

left: 67vw;
font-family: "Atala";
font-size: 110%;
font-weight: 500;
}
.user1{
    position: absolute;
    top:2vh;
    height: 5vh;
    width:5vh;
    right: 16vw;
    border-radius: 50%;

}


.arrow{
    position: absolute;
    align-items: right;
    top: 20%;
    left: 35vw;
    z-index: 5;
}
.logout{
    position: absolute;
    top: 7vh;
    z-index: 10;
    height: 4vh;
    width: 6vw;
    background-color: white;
    right: 9vw;
    outline: 1px solid black;
}
@media only screen and (max-width:1000px) {
   .header{
    width: 80vw;
    left: 20vw;
   } 
   .head1{
    
    left: 62vw;
   }
   .arrow{
    right: 8vw;
   }
   .user1{
    left: 58vw;
   }
   .logout{
    right: 8vw;
    width: 10vw;
   }
   .menuicon{
    visibility: hidden;
}
}
@media only screen and (max-width: 770px) {
    .header{
        width: 100vw;
        left: 0vw;
    } 
    .logout{
    right: 9vw;
    width: 16vw;
    }
    .head1{
    
        left: 75vw;
       }
       .arrow{
        left:  42vw;
       }
       .user1{
        left: 68vw;
       }
       .menuicon{
        top: 2vh;
        left: 2vw;
        position: absolute;
        visibility: visible;
    }

}