.learnmorerect{
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    top: 15vh;
    left: 22vw;
    text-align: left;
    font-size: 3vh;
    height: 80vh;
    width: 73vw;
}

.lmrect{
    position: absolute;
    top: 9vh;
    left: 18vw;
    height: 91vh;
    width: 82vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);;
}