.learnmorerect{
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    top: 15vh;
    left: 22vw;
    text-align: left;
    font-size: 3vh;
    height: 80vh;
    width: 73vw;
}
.lmtitle{
    position: relative;
    font-size: 5vh;
    width: 18vw;
    font-weight: 600;
    top: 5vh;
    left: 1vw;
    margin-left: 2vw;
    z-index: 1;
}

.lmrect{
    position: absolute;
    top: 9vh;
    left: 16vw;
    height: 91vh;
    width: 82vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);;
}
@media only screen and (max-width: 1000px) {
    .lmtitle{
        width: 22vw;
    }
}
@media only screen and (max-width: 770px) {
    .lmtitle{
        width: 34vw;
       
    }
}