.prbox1{
    position: absolute;
    height: 55vh;
    width: 65vw;
    top: 12vh;
    left: 26vw;
    border-radius: 1.1vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
}
.prtext1{
    position: absolute;
    font-size: 4vh;
    padding: 2vh;
    left: 2vw;
    font-weight: 600;
}
.primg{
    position: absolute;
    height: 15vh;
    top: 10vh;
left: 5vw;
    
}
.contitem{
    position: absolute;
    text-align: left;
    top: 5vh;
    font-weight: 600;
    height: 50vh;
    width: 30vw;
    left: 20vw;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  
    font-size: 3vh;
    
}
.prfont{
    color: #1B2B65;
}
.kycitem{
    position: absolute;
    height:28vh;
    width: 65vw;
    top: 70vh;
    left: 26vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
   border-radius: 1.1vh;
}
p{
    
    font-weight: 700;
}
.kyctitle{
    font-weight: 800;
    font-size: 4vh;
    padding: 2vh;
}