.prbox1{
    position: relative; 
    max-width: 65vw;
    top: 12vh;
    left: 18vw;
    border-radius: 1.1vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
    display: flex;
flex-direction: column;
}
.profilebox{
position: absolute;
display: flex;
flex-direction: column;
row-gap: 5vh;
width: 80vw;
}
.prtext1{
    position: absolute;
    font-size: 5vh;
    padding: 2vh;
    left: 2vw;
    font-weight: 600;
}
.primg{
    position: absolute;
    height: 15vh;
    top: 10vh;
left: 10vw;
    
}
.contitem{
    position: relative;
    text-align: left;
    left: 7vw;
    padding-top: 8vh;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    font-size: 3vh;
    padding-bottom: 4vh;
}
.pr{
    position: relative;
    width: 20vw;
    right: 4vw;
}
.colon1{
    position: absolute;left: 12vw;
}
.prfont{
   position: absolute;
    color: #1B2B65;
    font-size: 100%;
    font-weight: 400;
    left:14vw;
    
    
}
.colonpop{
    position: absolute;
    left: 14vw;
}
.kycitem{
    position: relative;
    top: 10vh;
    max-width: 65vw;
    left: 18vw;    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
   border-radius: 1.1vh;
}
.pbtn1{
    position: relative;
    height: 6vh;
    width: 7vw;
    font-size: 100%;
    color: white;
    background-color: #017EFA;
    border-radius: 6px;
    border: none;
}
p{
    top: 0vh;
    font-weight: 500;
}
.kyctitle{
    font-weight: 600;
    font-size: 4vh;
    padding-top: 2vh;
}
.update{
    position: absolute;
    height: 90vh;
    width: 60vw;
    top: 5vh;
    left: 20vw;
    font-size: 26px;
    background-color: #E3DAF6;
    border-radius: 10px;
    
}
.update1{
    position: absolute;
    height: 90vh;
    width: 60vw;
    top: 5vh;
    left: 20vw;
    font-size: 26px;
    background-color: #E3DAF6;
    border-radius: 10px;
    
}
.uphead{
    position: relative;
    top: 4vh;
    font-size: 40px;
    font-weight: 500;
}
.upa{
    position: relative;
    height: 18vh;
    text-indent: 10vw;
    top: 8vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    
}
.uin{
    position: absolute;
    left: 25vw;
    height: 6vh;
    width: 28vw;
    font-size: 20px;
    text-indent: 1vw;
    outline: none;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.upbtn{
    position: relative;
    top: 1vh;
    border: none;
    left: 19vw;
    height: 7vh;
    width: 8vw;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background-color: #017EFA;
}
.upbtn1{
    position: relative;
    top: 1vh;
    border: none;
    left: 39vw;
    height: 7vh;
    width: 14vw;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background-color: #017EFA;
}
.cross{
    position: absolute;
    top: 8%;
    right: 4vw;
   
}
.upa1{
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 10vw;
}
.field{
    position: absolute;
    right: 12vw;
    color: black;
}
@media only screen and (max-width:1000px) {
    .colon1{
        left: 15vw;
    }
    .primg{
        left: 4vw;
    }
    .pr{
        right: 6vw;
    }
    .prfont{
        left: 18vw;
        width: 15vw;
        overflow: hidden;
    }
    .pbtn1{
       top: -2vh;
       width: 8vw;
    }
}
@media only screen and (max-width: 770px) {
    .colon1{
        left:27vw;
    }
    .prbox1{
        left: 23vw;
    }
    .kycitem{
        left: 23vw;
    }
    .pr{
        right: 2vw;
    }
    .prfont{
        left: 29vw;
    }
    .pbtn1{
        top: -2vh;
        width: 10vw;
     }
}