.icon{
    position: relative;
    top: 4px;
    left: 1vw;
    color: #017EFA;

}

.iccs{
    position: absolute;
    top: 19vh;
    left: 60vw;
    padding: 1vh;
    background-color: antiquewhite;
    
}
.iccs1{
    position: absolute;
    top: 19vh;
    left: 36vw;
    padding: 1vh;
    background-color: antiquewhite;
    display: none;
}
.iccs2{
    position: absolute;
    top: 19vh;
    left: 36vw;
    padding: 1vh;
    background-color: antiquewhite;
    display: none;
}

.brtitle{
    position: absolute;
    top: 19vh;
    left: 20vw;
    font-size: 5vh;
    font-weight: 600;
    
}
.brrect2{
    position: absolute;
    top: 27vh;
    left: 20vw;
    text-indent: 4vw;
    min-height: 71vh;
    max-width: 75vw;
    font-size: 24px;
    font-weight: 500;
   text-align: left;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
border-radius: 1.1vh;
padding: 3vh;
}
.brbox{
    position: absolute;
    height: 58vh;
    width: 69vw;
    left: 3vw;
    top:10vh;
    font-size: 3vh;
    font-weight: 300;
    background: #ffffff;
    overflow: hidden;
    overflow-y: scroll;
   
}
.brbox::-webkit-scrollbar{
    border-radius: 2vh;
}
.brbox::-webkit-scrollbar-thumb{
    flex: block;
    background-color: #E3DAF6;
    border: 0.25em solid #ffffff;
    border-radius: 2vh;
}

.brtext{
    position: relative;
    left: 2vw;
    font-size: 90%;
    padding: 2vh;
}
.topcen{
    position: absolute;
    height: 8vh;
    min-width: 50vw;
    left: 18vw;
    top: 9vh;
    background-color: #0A194E;
   
}
.bract{
    position: absolute;
    left: 2px;
    margin-top: 2px;
    height: 4vh;
    width: 25vw;
    color: #000;
    padding: 2vh;
    font-size: 110%;
    font-weight: 500;
    font-family: "Atala";
    background-color: white;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    display: block;
    z-index: 1;
   
}
.brnot{
    position: absolute;
    width: 25vw;
    left: 1vh;
    height: 4vh;
    text-align: center;
    color: #ffffff;
    padding: 2vh;
    font-family: "Atala";
    font-size: 110%;
    background-color: #0A194E;
    
}
.emact{
    position: absolute;
    width: 25vw;
    top: 2px;
    left: 28vw;
    height: 4vh;
    color: #000;
    font-family: "Atala";
    padding: 2vh;
    font-size: 110%;    font-weight: 500;
    background-color: white;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    z-index: 1;
}
.emnot{
    position: absolute;
    width: 25vw;
    top: 0vh;
    left: 28vw;
    height: 4vh;
    color: #ffffff;
    padding: 2vh;
    font-size: 110%;
    font-family: "Atala";
    background-color: #0A194E;
}
.clact{
    position: absolute;
    width: 26vw;
    top: 2px;
    left: 56vw;
    color: #000;
    padding: 2vh;
    font-size: 110%;
    font-weight: 500;
    background-color: white;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    z-index: 1;
    font-family: "Atala";
}
.clnot{
    position: absolute;
    width: 26vw;
    top: 0vh;
    left: 56vw;
    height: 4vh;
    text-align: center;
    color: #ffffff;
    padding: 2vh;
    font-size: 110%;
    font-family: "Atala";
    background-color: #0A194E;
}
.arm{
    position: absolute;
    top: 9vh;
   height: 8vh;
   width:84vw;
   left: 16vw;
   font-size: 3vh;
    background-color: #0A194E;
    display: flex;
}
.div{
    position: relative;
    height: 100%;
    width: 2px;
    left: 25.5vw;
    background-color: #ffffff;
}
.divider{
    position: relative;
    height: 100%;
    width: 2px;
    left: 25vw;
    background-color: #ffffff;
}
.deep{
    position: absolute;
    top:10%;
    right: 0%;
    color: red;
    z-index: 12;
}
.pp{
    position: relative;
    width: 6vw;
   padding: 1vh;
    background-color: #e0dfdf;
    color: #000;
    border-radius: 5px;
    left: 18vw;
    top: -6vh;
    font-size: 12px;
}
.pp1{
    position: relative;
    width: 6vw;
   padding: 1vh;
    background-color: #e0dfdf;
    color: #000;
    border-radius: 5px;
    left: 15vw;
    top: -6vh;
    font-size: 12px;
}.pp2{
    position: relative;
    width: 6vw;
   padding: 1vh;
    background-color: #e0dfdf;
    color: #000;
    border-radius: 5px;
    left: 13vw;
    top: -6vh;
    font-size: 12px;
}
.d11{
    position: relative;
    height: 100%;
    width: 1px;
    left: 53vw;
    z-index: 2;
    background-color: white;
}
.d12{
    position: relative;
    height: 100%;
    width: 1px;
    left: 25vw;
    z-index: 5;
    background-color: white;
}