.kyc-rectangle {
    position: relative;
    display: flex;
    height: 50rem;
    border-radius: 1.1vh;
    width: 75vw;
    top: 5rem;
    left: 7vw;
    background: linear-gradient(
      180deg,
      rgba(227, 218, 246, 0.6) 0%,
      rgba(227, 218, 246, 0.6) 100%
    );
  }

.fsbody{
    height: 100vh;
    width: 100vw;
    background-color: #E3DAF6;
}
.fbox1{
    position: absolute;
    height: 85vh;
    min-width: 48vw;
    background-color: hwb(0 100% 0% / 0.502);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.ftitle{
    font-size: 5vh;
    top: 10vh;
    font-weight: 600;
    padding: 5vh;
    align-items: center;
}
.colon{
    position: absolute;
    right: 2vw;
    z-index: 3;
}
.alignleft{
    position: relative;
    right: 3vw;
    font-size: 160%;
    font-weight: 350;
}
.fbox2{
    position: relative;
    top: 1vh;
    text-align: left;
    text-indent: 7vw;
    box-sizing: 2vh;
    display: flex;
    flex-direction: column;
    row-gap: 4.5vh;
  
}
.in{
    position: relative;
    left:2vw;
    height: 6vh;
    min-width: 22vw;
    border-radius: 1vh;
    border: none;
    font-size: 3vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    text-indent: 4%;
   
}
.btnup{
    position: relative;
   border: none;
   align-items: center;
   top: 1vh;
   border-radius: 1vh;
   height: 6vh;
   left: 45%;
   font-size: 16px;
   max-width: 15%;
   color: white;
   background-color: #017EFA;
}
.fillbox{
    height: 30vh;
    width: 30vw;
    background-color: #E3DAF6;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    border-radius: 10px;
}
.a1{
    position: relative;
    top: 25%;
    font-size: 27px;
    font-weight: 400;
}
.a2{
    position: relative;
    top: 40%;
    left: 40%;
    height: 6vh;
    width: 6vw;
    background-color: #017EFA;
    color: white;
    border: none;
    border-radius: 10px;
}

.step-1{
    position: absolute;
    top: 45rem;
    left: 15vw;
    width: 30vh;
    z-index: 1;
}