.ky1rectangle{
    position: absolute;
    display: flex;
    height: 80vh;
    width: 75vw;
    top: 15vh;
    left: 21vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
}
.kyc1{
    position:absolute;
    height: 10vh;
    width: 5vw;
    top: 55vh;
    left: 18vw;
}
.ktext1{
position: absolute;
height: 5vh;
top: 12vh;
font-size: 3.5vh;

left: 7.5vw;
}
.i{
    position: absolute;
    height: 5vh;
    width: 35vh;
    left: 10vw;
    border: none;
    border-radius: 1.1vh;
}
.ktext2{
    position: absolute;
height: 5vh;
top: 12vh;
font-size: 3.5vh;
left: 40vw;
}

.ktext3{
    position: absolute;
height: 5vh;
top: 27vh;
font-size: 3.5vh;

left: 7.5vw;
}

.ktext4{
    position: absolute;
height: 5vh;
font-size: 3.5vh;

top: 27vh;
left: 40vw;
}

.ktext5{
    position: absolute;
    height: 5vh;
    top: 42vh;
    font-size: 3.5vh;

    left: 7.5vw;
}
.ktext6{
    position: absolute;
height: 5vh;
top: 42vh;
font-size: 3.5vh;

left: 40vw;
}

.ktext7{
    position: absolute;
    top: 3vh;
    left: 4vw;
    font-size: 4vh;
}
.label{
    position: absolute;
    top:65vh;
    left: 15vw;
    width:30vh;
    z-index: 1;
}
.kybtn{
    position: absolute;
    height: 5vh;
    width: 10vh;
    top: 70vh;
    left: 65vw;
    background-color: rgba(91, 15, 255, 0.66);
    color: white;
    border: none;
    font-size: 2vh;
    border-radius: 1.1vh;
    z-index: 2;
}