.hrect{
    position: absolute;
    height: 91.2vh;
    width: 82.7vw;
    top: 8.8vh;
    left: 17.3vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
}
