.helprect{
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    top: 20vh;
    left: 22vw;
    text-align: left;
    font-size: 3vh;
    height: 80vh;
    width: 73vw;
}
.inf{
    padding: 3vh;
    
    border-radius: 2vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #ffffff;
}
.hrect{
    position: absolute;
    top: 9vh;
    left: 18vw;
    height: 91vh;
    width: 82vw;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);;

}
.htitle{
    position: relative;
    font-size: 5vh;
    font-weight: 600;
    top: 11vh;
    left: 21vw;
    z-index: 1;
}