.helpBox {
    position: absolute;
    height: 91vh;
    width: 84vw;
    top: 9vh;
    left: 16vw;
    text-align: left;
    background: linear-gradient(180deg, rgba(227, 218, 246, 0.6) 0%, rgba(227, 218, 246, 0.6) 100%);
    
  }
  .helpTitle {
    position: relative;
    left: 3vw;
    top: 4vh;
    font-size: 5vh;
    font-weight: 600;
    color: #000;
    margin-bottom: 2vh;
  }
  .helpItem {
    position: relative;
    top:3vh;
    background-color: white;
   
    margin: 3vh 2vw;
    width: 85%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;
    cursor: pointer;
    font-size: 3vh;
    padding: 3vh;
  }
  .helpItemContent {
    font-size: 3vh;
    padding: 3vh;
    margin-left: 4vw;
  }
  .helpContent {
    padding-top: 1vh;
    padding-left: 2vw;
  }
  @media only screen and (max-width: 1000px){
    .helpBox{
      left: 20vw;
      width: 80vw;
    }
  }
  @media only screen and (max-width: 770px){
    .helpBox{
      left: 0vw;
      width: 100vw;
    }
  }